<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474699804457-3u9redueskg82d6s4i0ib6v8iq50511s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474699804457-3u9redueskg82d6s4i0ib6v8iq50511s</string>
	<key>API_KEY</key>
	<string>AIzaSyCf4il-LkUh3l3dcpH15XGPQVY9OJjbkdo</string>
	<key>GCM_SENDER_ID</key>
	<string>474699804457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-cours-project-1</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-cours-project-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474699804457:ios:fb1bd53964f5afac981138</string>
</dict>
</plist>